<ion-content color="background">
  <ion-item-group id="container">
    <ion-img src="assets/login/lupa-password.svg"></ion-img>
    <ion-title>
      <strong>Reset Password</strong>
      <p>Kami tidak bisa reset pata hati kamu,<br> kalau sekedar reset password tentu bisa!</p>
    </ion-title>
    <form [formGroup]="resetPasswordForm">
      <mat-label>Nomor Telepon</mat-label>
      <mat-form-field appearance="standard">
        <input matInput formControlName="phone">
        <mat-error *ngIf="(resetPasswordForm.get('phone').dirty || resetPasswordForm.get('phone').touched) && resetPasswordForm.get('phone').errors">
          <span *ngIf="resetPasswordForm.get('phone').errors.required">Phone number is required</span>
          <span *ngIf="resetPasswordForm.get('phone').errors.minlength || resetPasswordForm.get('phone').errors.maxlength">Phone needs to be between 10 - 12 characters</span>
        </mat-error>
      </mat-form-field>
    </form>
    <ion-button (click)="reset()" expand="full" color="primary" [disabled]="!resetPasswordForm.valid" shape="round" class="submit">Lanjutkan</ion-button>
    <ion-button routerLink="/login" expand="full" color="tertiary" shape="round">Batalkan</ion-button>
  </ion-item-group>
</ion-content>
