#container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 32%;
    margin: 120px 0px 30px;
    transform: translateY(-50%);
    color: var(--ion-color-primary);
}

#container ion-row {
    margin-top: 5px;
}

#container p {
    color: black;
    margin-left: 10px;
}

#container ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#container ion-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}

.card {
    --border-radius: 10px !important;
    --border-width: 1px !important;
    --background: #FFF5DA;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

#container ion-button {
    margin: 10px 50px 50px;
    font-weight: 600;
}

ion-icon {
    font-size: 24px;
    margin-left: 5px;
}

.title {
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
}

.alert {
    color: rgb(220, 0, 0);
}