.header {
  &__icon{
    font-size: 24px;
  }
}

.history{
  &__desc{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__total {
    display: flex;
    &-icon{
      font-size: 16px;
      margin-right: 8px;
      margin-top: 2px;
    }
  }
  &__noresult {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    &-img {
      width: 200px;
      align-self: center;
      display: flex;
    }
    &-title {
      margin-top: 30px;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      color: var(--ion-color-primary);
      @media only screen and (max-width: 769px) {
        font-size: 24px;
      }
    }
    &-subtitle {
      font-size: 28px;
      margin: 8px 0px;
      color: rgba(0,0,0,0.38);
      text-align: center;
      @media only screen and (max-width: 769px) {
        font-size: 14px;
      }
    }
  }
}