<ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="popView()">
        <ion-icon class="header__icon" src='assets/icon/backButton.svg'></ion-icon>
      </ion-buttons>
      <ion-title class="ion-text-center">
          Wisea
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background">
  <ng-template #hasValue>
    <ion-item-group class="body__container" *ngFor="let history of histories">
      <ion-card (click)="goToHistoryDetail(history.id)">
        <ion-card-header>
          <ion-card-subtitle style="font-size: 12px;">
            <ion-item-group class="history__desc">
              {{ history.tanggal.toMillis() | date:'EEEE, MM-dd-yyyy h:mm a' }}
              <ion-chip *ngIf="history.status === 'terbayar'; else canceled" color="success">
                <ion-label>{{ history.status }}</ion-label>
              </ion-chip>
              <ng-template #canceled>
                <ion-chip color="danger">
                  <ion-label>{{ history.status}}</ion-label>
                </ion-chip>
              </ng-template>
            </ion-item-group>
          </ion-card-subtitle>
          <ion-card-title style="color: var(--ion-color-primary); font-size: 18px;"><strong>{{ history.tiket }}</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="history__desc">
            <ion-item-group>
              <ion-row class="history__total">
                <ion-icon name="bag-handle-outline" class="history__total-icon"></ion-icon>
                <p>Jumlah: {{ history.jumlah }}</p>
              </ion-row>
            </ion-item-group>
            <ion-item-group>
              <ion-row class="history__total">
                <ion-icon name="cash-outline" class="history__total-icon"></ion-icon>
                <p>Total: {{ history.total | currency:'IDR':'symbol-narrow':'3.0'}}</p>
              </ion-row>
            </ion-item-group>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ng-template>
  <ion-item-group class="history__noresult" *ngIf="historyCount === 0; else hasValue">
    <ion-img class="history__noresult-img" src="assets/login/lupa-password.svg"></ion-img>
    <ion-title>
      <div class="history__noresult-title"><strong>Yahh, kosong :(</strong></div>
      <p class="history__noresult-subtitle">Seperti hatimu,<br> jangan biarkan pesananmu kosong</p>
    </ion-title>
  </ion-item-group>
</ion-content>
