<ion-content fullscreen="true" color="background">
  <ion-item-group id="container">
    <ion-img src='assets/homePage/plane.svg' class="planeImg"></ion-img>
    <ion-title color="primary">
      <strong>#Ngebolang</strong>
      <p><strong>dimulai sekarang!</strong></p>
    </ion-title>
    <form [formGroup]="credentialForm">
      <mat-label>Email</mat-label>
      <mat-form-field appearance="standard">
        <input matInput formControlName="email">
        <mat-error *ngIf="(credentialForm.get('email').dirty || credentialForm.get('email').touched) && credentialForm.get('email').errors">
          <span *ngIf="credentialForm.get('email').errors?.required">Email is required</span>
          <span *ngIf="credentialForm.get('email').errors?.email">Email is invalid</span>
        </mat-error>
      </mat-form-field>
      <mat-label>Password</mat-label>
      <mat-form-field appearance="standard">
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        <mat-error *ngIf="(credentialForm.get('password').dirty || credentialForm.get('password').touched) && credentialForm.get('password').errors">
          <span *ngIf="credentialForm.get('password').errors?.required">Password is required</span>
          <span *ngIf="credentialForm.get('password').errors?.minlength">Password needs to be 6 characters</span>
        </mat-error>
      </mat-form-field>
    </form>
    <p routerLink="/reset-password" expand="full" color="secondary" shape="round" class="reset-password">Lupa password?</p>
    <ion-button (click)="login()" expand="full" color="primary" shape="round" [disabled]="!credentialForm.valid">Login</ion-button>
    <p style="text-align: center">
      Tidak memiliki akun? Register
      <span routerLink="/register" class="register">disini</span>
    </p>
  </ion-item-group>
</ion-content>
