<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" [routerLink]="['/menu/tabs/explore/explore-detail/', (wisataList | async)?.id]">
      <ion-icon class="header__icon" src='assets/icon/backButton.svg'></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Wisea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background">
    <form [formGroup]="shopForm" (submit)="shopping()">
  <ion-item-group class="body__container">
      <ion-item-group class="body__card">
        <ion-card *ngIf="(wisataList | async)">
          <ion-card-header>
            <ion-row>
              <ion-item-group class="cart__avatar">
                <ion-avatar slot="start">
                  <img [src]="(imageDetail[0] | async)">
                </ion-avatar>
              </ion-item-group>
              <ion-col>
                <ion-card-title style="color: var(--ion-color-primary); font-size: 16px;"><strong>{{ (wisataList | async)?.nama }}</strong></ion-card-title>
                <ion-row>
                  <ion-chip color="success">
                    <ion-label style="font-size: 12px;">{{ (wisataList | async)?.kategori }}</ion-label>
                  </ion-chip>
                  <ion-item-group>
                    <ion-row style="display: flex;">
                      <ion-icon name="bag-handle-outline" style="font-size: 16px; align-self: center; margin-right: 8px;"></ion-icon>
                      <p>{{ (wisataList | async)?.harga | currency:'IDR':'symbol-narrow':'3.0' }}</p>
                    </ion-row>
                  </ion-item-group>
                </ion-row>
                <ion-item-group class="btn__qty">
                  <ion-row>
                    <ion-icon class="header__icon btn__qty-remove" name="remove-circle" (click)="decrementQty()" item-right></ion-icon>
                    <ion-input class="btn__qty-value" type="number" min="0" [(ngModel)]="qty" formControlName="qty"></ion-input>
                    <ion-icon class="header__icon btn__qty-add" name="add-circle" (click)="incrementQty()" item-right></ion-icon>
                  </ion-row>
                </ion-item-group>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
        <ion-item-group class="body__form">
          <ion-label style="color: var(--ion-color-primary); margin: 8px 8px;"><strong>Data pribadi</strong></ion-label>
          <ion-item-group>
            <ion-item>
              <ion-label position="stacked">NIK</ion-label>
              <ion-input autofocus type="number" clear-input required formControlName="nik"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Nomor telepon</ion-label>
              <ion-input clear-input type="number" required formControlName="tlp"></ion-input>
            </ion-item>
          </ion-item-group>
        </ion-item-group>
      </ion-item-group>
      <ion-item-group class="body__total">
        <ion-row class="body__total-buy">
          <ion-label style="color: var(--ion-color-primary); font-size: 14px;"><strong>Jumlah</strong></ion-label>
          <ion-label style="font-size: 14px;">{{ qty }}</ion-label>
        </ion-row>
        <ion-row class="body__total-buy">
          <ion-label style="color: var(--ion-color-primary);"><strong>Total</strong></ion-label>
          <ion-label>{{ total | currency:'IDR'}}</ion-label>
        </ion-row>
        <ion-button type="submit" shape="round" expand="full" class="btn" [disabled]="!shopForm.valid">Bayar</ion-button>
      </ion-item-group>
  </ion-item-group>
  </form>
</ion-content>
