.header {
    &__icon{
      font-size: 24px;
    }
  }
  
  .cart {
    &__avatar {
      margin-right: 8px;
    }
  }
  
  .body {
    &__container {
      background-color: #FFF9E9 !important;
      padding-top: 32px;
    }
    &__card {
      border-radius: 24px;
      background-color: white;
      padding: 32px 0px;
      margin-top: -48px
    }
    &__form {
      padding: 0px 8px 8px;
    }
    &__total {
      background-color: #FFF9E9;
      padding: 16px 8px;
      &-buy {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
      }
    }
  }
  
  .btn {
    margin-top: 16px;
    &__qty {
      display: flex;
      justify-content: space-between;
      &-add {
        color: #7BA57F;
        align-self: center;
      }
      &-remove {
        color: #F06F53;
        align-self: center;
      }
      &-value {
        width: 40px;
        align-self: center;
        text-align: center;
      }
    }
  }
  
  ion-card {
    background-color: #FFF9E9;
  }