.drawer {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  width: 100%;
  border-radius: 20px;
  bottom: calc(-55vh + env(safe-area-inset-bottom)); // agar drawer di bawah
  height: 80vh;
  z-index: 11; // agar drawer di depan backdrop
  background: #fff; // warna drawer default
}

.drawer-pull {
  background: #cccccc;
  height: 4px;
  width: 60px;
  border-radius: 2px;
}

hr {
  height: 2px !important;
  background: gainsboro !important;
}

.text-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
