<ion-tabs>
  <ion-tab-bar color="secondary" slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Recommendation</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="explore">
      <ion-label>Explorer</ion-label>
      <ion-icon name="compass-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label>Account</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
