.header {
  &__icon{
    font-size: 24px;
  }
}

.payment {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
  text-align: center;
  &-img {
    width: 200px;
    margin: auto;
  }
  &-title {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--ion-color-primary);
    @media only screen and (max-width: 769px) {
      font-size: 24px;
    }
  }
  &-subtitle {
    font-size: 28px;
    margin: 8px 0px;
    color: rgba(0,0,0,0.38);
    text-align: center;
    @media only screen and (max-width: 769px) {
      font-size: 14px;
    }
  }
  &-btn {
    margin: 24px 16px 0px;
  }
  &-msg {
    font-size: 14px;
    margin: 8px 0px;
    color: rgba(0,0,0,0.38);
    text-align: center;
    @media only screen and (max-width: 769px) {
      font-size: 12px;
    }
  }
}