#container {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  color: var(--ion-color-secondary-contrast);
}

#container ion-item {
  margin-top: 30px;
}

#container ion-label {
  font-size: 16px;
  text-align: center;
}

#container ion-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container ion-card {
  margin: 30px 0 !important;
  border: 2px solid black;
  border-radius: 20px;
  width: 100%;
  color: var(--ion-color-secondary-contrast);
}

.verticalLine {
  width: 2px;
  top: 0%;
  bottom: 0%;
  left: 65%;
  background: black;
  margin: 0 auto;
  position: absolute;
  border-radius: 2px;
}

.userName{
  margin-top: 30px;
  font-size: 28px;
  font-weight: 600;
}

.proflePic {
  height: 200px;
  width: 200px;
  margin: 30px auto 0px auto;
}

.notifications {
  &-badge {
    position: absolute;
    top: -3px;
    right: -4px;
    font-size: 10px;
  }
}

.header {
  &__icon {
    font-size: 24px;
    z-index: -1;
  }
}
