<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons routerLink="/history" slot="end">
      <ion-badge class="notifications-badge" color="danger" mode="ios" *ngIf="historyCount > 0">{{ historyCount }}</ion-badge>
      <ion-icon class="header__icon" name="bag-check"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Wisea
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background">
  <ion-item-group id="container">
    <ion-item lines='none'>
      <ion-avatar class="proflePic">
        <ion-img src="{{ userProfile?.photo }}"></ion-img>
      </ion-avatar>
    </ion-item>
    <ion-title size="large" class="ion-text-center userName">{{ userProfile?.username }}</ion-title>
    <ion-label style="padding-top: 30px">{{ userProfile?.name }}</ion-label>
    <ion-label class="ion-padding-top">{{ userProfile?.email }}</ion-label>
    <ion-label class="ion-padding-top">
      <ion-icon name="phone-portrait-sharp"></ion-icon>{{ userProfile?.phone }}
    </ion-label>
    <ion-item lines='none'>
      <ion-card>
        <ion-grid>
          <ion-row class="ion-align-items-center ion-text-center">
            <ion-col size="8">
              <p>Saldo kamu</p>
              <p>{{ userProfile?.balance | currency:'IDR':'symbol-narrow':'1.0' }}</p>
            </ion-col>
            <div class="verticalLine"></div>
            <ion-col size="4">
              <ion-button (click)="topupAlert()">Topup</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
    <ion-button expand="block" shape="round" color="primary" style="margin-bottom: 80px" routerLink="/menu/tabs/profile/edit-profile">Edit Profile</ion-button>
  </ion-item-group>
</ion-content>
