#container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 30%;
    margin: 200px 0px 200px;
    transform: translateY(-50%);
    color: var(--ion-color-primary);
}

#container strong {
    font-size: 40px;
    line-height: 28px;
    margin-top: 20px;
    letter-spacing: 2px;
}

#container p {
    font-size: 26px;
    line-height: 28px;
    color: var(--ion-color-primary);
    margin-bottom: 16px;
    width: 10px;
}

#container a {
    text-decoration: none;
}

#container ion-item {
    margin-top: 24px;
    text-align: center;
    z-index: -1;
}

#container ion-grid {
    margin-top: 20px;
    text-align: center;
    z-index: -1;
}

#container ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#container ion-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-icon {
    font-size: 24px;
    margin-left: 5px;
}

.title {
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
}

.budgetImg {
    // width: 100px;
    height: 150px;
    width: 120px;
    margin: 0px;
}