<ion-header [translucent]="true" class="ion-text-center">
    <ion-toolbar color="primary">
        <ion-buttons routerLink="/history" slot="end">
            <ion-badge class="notifications-badge" color="danger" mode="ios" *ngIf="historyCount > 0">{{ historyCount }}</ion-badge>
            <ion-icon class="header__icon" name="bag-check"></ion-icon>
        </ion-buttons>
        <ion-title class="ion-text-center">
            Wisea
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background" class="homepage">
    <ion-item-group id="container">
        <div style="display: flex;">
            <ion-item-group lines='none' class="homepage__username">
                <ion-title color="primary">
                    <p class="homepage__username-heading">Halo,</p>
                    <strong><p class="homepage__username-subheading">{{ currentUser }}</p></strong>
                </ion-title>
            </ion-item-group>
            <ion-img src='assets/homePage/plane.svg' class="homepage__image"></ion-img>
        </div>
        <div class="homepage__content">
            <ion-item lines='none' class="homepage__content-image">
                <ion-img src="assets/homePage/home.svg"></ion-img>
            </ion-item>
            <ion-title class="homepage__content-title">#NgeBolang yukk!</ion-title>
            <ion-item lines='none' class="ion-text-center">
                <p class="homepage__content-subtitle">Seperti abang nasi goreng, kami siapkan hiburan spesial sesuai preferensi kamu!</p>
            </ion-item>
            <ion-button expand="block" shape="round" routerLink="/recommendation1" class="homepage__content-btn">
                Mulai
            </ion-button>
        </div>
    </ion-item-group>
</ion-content>
