#container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 32%;
    margin: 120px 0px 30px;
    transform: translateY(-50%);
    color: var(--ion-color-primary);
}

.homepage {
    &__username {
        display: flex;
        flex-direction: column;
        &-heading {
          font-size: 28px;
          margin: 8px 0px;
          @media only screen and (max-width: 769px) {
              font-size: 18px;
          }
        }
        &-subheading {
          font-size: 32px;
          margin: 8px 0px;
          @media only screen and (max-width: 769px) {
              font-size: 24px;
          }
        }
    }
    &__image {
        width: 150px;
        margin-left: 16px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-image {
            align-self: center;
        }
        &-title {
            margin-top: 30px;
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            @media only screen and (max-width: 769px) {
                font-size: 24px;
            }
        }
        &-subtitle {
            font-size: 16px;
            margin: 8px 0px;
            color: rgba(0, 0, 0, 0.38);
            text-align: center !important;
            width: 100%;
            @media only screen and (max-width: 769px) {
                font-size: 16px;
                text-align: center;
            }
        }
        &-btn {
            margin: 24px 16px 36px;
        }
    }
}

.header {
    &__icon {
        font-size: 24px;
        z-index: -1;
    }
}

.notifications {
    &-badge {
        position: absolute;
        top: -3px;
        right: -4px;
        font-size: 10px;
    }
}