<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot='start' routerLink="/menu/tabs/explore">
      <ion-icon class="header__icon" src='assets/icon/backButton.svg'></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Wisea
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--scrollY = false untuk mencegah scrolling-->
<ion-content scrollY="false">
  <!--  ngClass untuk apply class dengan kondisi tertentu -->
  <div class="backdrop" [ngClass]="backdropVisibile ? 'fade-in' : 'fade'" tappable (click)="drawer.toggleDrawer()"></div>

  <ion-slides *ngIf="(wisataDetail | async)">
    <ion-slide *ngFor="let index of [0, 1]">
      <ion-img [src]="(imageDetail[index] | async)" style="height: calc(66vh + env(safe-area-inset-top)); object-fit: cover" (ionImgDidLoad)="loading.dismiss()"></ion-img>
    </ion-slide>
  </ion-slides>

  <!--  $event berisi true atau false, penanda drawer  dinaikkan atau tidak -->
  <app-drawer [disabledBtn]="disabledBtn" [wisataDetail]="wisataDetail" (openStateChanged)="toggleBackdrop($event)" #drawer></app-drawer>
</ion-content>
