.backdrop {
  width: 100%;
  height: 100%;
  background: #FFFFF0;
  z-index: 10;
  position: absolute;
}

.fade {
  transition: 0.5s linear all;
  opacity: 0;
  z-index: -1; // dipindahkan ke paling belakang agar tidak ada touch event di backdrop
}

.fade-in {
  transition: 0.5s linear all;
  opacity: 1;
}

.header {
  &__icon{
    font-size: 24px;
  }
}