<ion-content [fullscreen]="true" color="background">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" size="12" sizeSm="8" offsetSm="2" sizeMd="6" offsetMd="3">
        <ion-slides pager="true">
          <ion-slide>
            <img src="assets/splashScreen/splash1.svg">
            <div class="slider-text">
              <h2>Mudah Memesan</h2>
              <p>
                Wisea memberikan kemudahan untuk memesan tiket wisata seni dan budaya
                dengan memberikan rekomendasi pilihan tiket yang sesuai dengan selera pengguna
              </p>
            </div>
          </ion-slide>
          <ion-slide>
            <img src="assets/splashScreen/splash2.svg">
            <div class="slider-text">
              <h2>Yuk Mulai!</h2>
            </div>
            <ion-button color="primary" expand="block" shape="round" routerLink="/register">Daftar</ion-button>
            <p>
              Sudah punya akun?
              <b routerLink="/login" class="login">Login disini</b>
            </p>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
