ion-slides {
  height: 33%;
}

.box {
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

p {
  padding-top: 5px;
}

.icon{
  -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
}

.shadow{
  -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
}

.explore{
  &__section{
    padding: 16px 0px 0px;
    &-title{
      font-weight: bold; 
      margin-bottom: 5px; 
      color: #7BA57F;
      text-align: center;
      margin: 8px 0px;
      @media only screen and (max-width: 769px) {
        font-size: 18px;
      }
    }
    &-subtitle{
      font-size: 24px;
      text-align: center;
      color: rgba(0,0,0,0.38);
      @media only screen and (max-width: 769px) {
        font-size: 14px;
      }
    }
  }
}

.separator{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 4px 16px;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
  color: #7BA57F;
}
.section {
  padding: 50px 8px;
}
.container {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid {
  display: grid;
  grid-gap: 25px;
}
.card {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.card__image {
  position: absolute;
  object-fit: cover;
  height: 120px;
  width: 120px;
  right: 6px;
  margin: 0 auto;
  top: -18%;
  z-index: 2;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}
.card__data {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #FFF5DA;
  padding-top: calc(100% * 0.75);
  transition: all 0.3s ease-out 0.1s;
  height: 210px;
}
.card__info {
  padding: 0 10px;
  margin-bottom: 10px;
  height: 62px;
  width: 130px;
}
.card__info h2 {
  font-size: 14px;
  font-weight: 800;
}
.card__info p {
  font-size: 10px;
  line-height: 14px;
  color: #a2a2a2;
}
.card__action {
  display: grid;
  grid-template: 30px / 1fr 35px;
}
.card__price {
  height: 30px;
  padding: 0 10px 0 12px;
  margin-top: 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 800;
}
.card__add {
  overflow: hidden;
  width: 35px;
  height: 30px;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #7BA57F;
  border: none;
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in;
}
.card__add:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.card__add:active {
  opacity: 1;
  transform: scale(0.8);
}

.notifications {
  &-badge {
    position: absolute;
    top: -3px;
    right: -4px;
    font-size: 10px;
  }
}

.header {
  &__icon {
    font-size: 24px;
    z-index: -1;
  }
}
