<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons routerLink="/history" slot="end">
      <ion-badge class="notifications-badge" color="danger" mode="ios" *ngIf="historyCount > 0">{{ historyCount }}</ion-badge>
      <ion-icon class="header__icon" name="bag-check"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Wisea
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background" class="explore">
  <ion-searchbar class="explore__search" placeholder="Cari wisata favoritmu" class="ion-padding" style="border-radius: 80px; padding-bottom: 0" (ionFocus)="goToListItem($event)"></ion-searchbar>
  <ion-slides style="margin-top: 8px;" [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide class="shadow ion-padding">
      <ion-img src="assets/banner/banner-1.svg" style="width: 100%; object-fit: cover; border-radius: 20px; overflow: hidden"></ion-img>
    </ion-slide>
    <ion-slide class="shadow ion-padding">
      <ion-img src="assets/banner/banner-2.svg" style="width: 100%; object-fit: cover; border-radius: 20px; overflow: hidden"></ion-img>
    </ion-slide>
    <ion-slide class="shadow ion-padding">
      <ion-img src="assets/banner/banner-3.svg" style="width: 100%; object-fit: cover; border-radius: 20px; overflow: hidden"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-grid style="margin: 0px 8px 8px;">
    <ion-row class="ion-justify-content-evenly" style="background-color: #FFF5DA; padding: 8px 0px; border-radius: 8px;">
      <ion-col class="ion-text-center box" (click)="goToListItem($event, 'trending')">
        <ion-icon class="icon" name="trending-up-outline" style="background: #7BA57F; padding: 8px; border-radius: 50%; color: white; font-size: 24px;"></ion-icon>
        <p class="ion-no-margin" style="font-size: 12px;">Trending</p>
      </ion-col>
      <ion-col class="ion-text-center box" (click)="goToListItem($event, 'latest')">
        <ion-icon class="icon" name="bag-add-outline" style="background: #7BA57F; padding: 8px; border-radius: 50%; color: white; font-size: 24px;"></ion-icon>
        <p class="ion-no-margin" style="font-size: 12px;">Latest</p>
      </ion-col>
      <ion-col class="ion-text-center box" (click)="goToListItem($event, 'low-budget')">
        <ion-icon class="icon" name="pricetags-outline" style="background: #7BA57F; padding: 8px; border-radius: 50%; color: white; font-size: 24px;"></ion-icon>
        <p class="ion-no-margin" style="font-size: 12px;">Low Rp.</p>
      </ion-col>
      <ion-col class="ion-text-center box" (click)="goToListItem($event, 'near-me')">
        <ion-icon class="icon" name="location-outline" style="background: #7BA57F; padding: 8px; border-radius: 50%; color: white; font-size: 24px;"></ion-icon>
        <p class="ion-no-margin" style="font-size: 12px;">Near Me</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--  Pertunjukan -->
  <div class="explore__section">
    <h4 class="ion-no-margin ion-margin-start explore__section-title">Seni Pertunjukan</h4>
    <p class="ion-no-margin ion-margin-start explore__section-subtitle">Yuk, tonton seni pertunjukan yang kaya akan nilai budaya.</p>
    <ion-slides [options]="{ slidesPerView: 'auto'}">
      <ion-slide *ngFor="let wisata of (pertunjukanList | async)" style="width: 150px">
        <section class="section">
          <div class="container">
            <div class="grid">
              <article class="card">
                <img class="card__image" [routerLink]="['./explore-detail', wisata.id]" [src]="(wisata.gambarUrl | async)"/>
                <div class="card__data">
                  <div class="card__info">
                    <h2 style="color: #7BA57F;">{{ wisata.nama }}</h2>
                    <ion-chip *ngIf="wisata.tiketTersedia < 1" color="danger">
                      <ion-label>Habis</ion-label>
                    </ion-chip>
                  </div>
                  <div>
                    <h3 class="card__price">{{ wisata.harga | currency:'IDR':'symbol-narrow':'3.0' }}</h3>
                    <button class="card__add" [routerLink]="['./explore-detail', wisata.id]">+</button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
      </ion-slide>
    </ion-slides>
  </div>
  <hr class="separator">
  <!--  Museum -->
  <div class="explore__section">
    <h4 class="ion-no-margin ion-margin-start explore__section-title">Museum</h4>
    <p class="ion-no-margin ion-margin-start explore__section-subtitle">Jelajahi museum untuk mengetahui barang-barang peninggalan nenek moyang kita.</p>
    <ion-slides [options]="{ slidesPerView: 'auto'}" style="padding: 8px;">
      <ion-slide *ngFor="let wisata of (museumList | async)" style="width: 150px">
        <section class="section">
          <div class="container">
            <div class="grid">
              <article class="card">
                <img class="card__image" [routerLink]="['./explore-detail', wisata.id]" [src]="(wisata.gambarUrl | async)"/>
                <div class="card__data">
                  <div class="card__info">
                    <h2 style="color: #7BA57F;">{{ wisata.nama }}</h2>
                  </div>
                  <div>
                    <h3 class="card__price">{{ wisata.harga | currency:'IDR':'symbol-narrow':'3.0' }}</h3>
                    <button class="card__add" [routerLink]="['./explore-detail', wisata.id]">+</button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
      </ion-slide>
    </ion-slides>
  </div>
  <hr class="separator">
  <!--  Workshop -->
  <div class="explore__section">
    <h4 class="ion-no-margin ion-margin-start explore__section-title">Workshop</h4>
    <p class="ion-no-margin ion-margin-start explore__section-subtitle">Ayo pelajari kesenian maupun kerajinan budaya kita yang unik.</p>
    <ion-slides [options]="{ slidesPerView: 'auto'}" style="padding: 8px;">
      <ion-slide *ngFor="let wisata of (workshopList | async)" style="width: 150px">
        <section class="section">
          <div class="container">
            <div class="grid">
              <article class="card">
                <img class="card__image" [routerLink]="['./explore-detail', wisata.id]" [src]="(wisata.gambarUrl | async)"/>
                <div class="card__data">
                  <div class="card__info">
                    <h2 style="color: #7BA57F;">{{ wisata.nama }}</h2>
                  </div>
                  <div>
                    <h3 class="card__price">{{ wisata.harga | currency:'IDR':'symbol-narrow':'3.0' }}</h3>
                    <button class="card__add" [routerLink]="['./explore-detail', wisata.id]">+</button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
