<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/history">
      <ion-icon class="header__icon" src='assets/icon/backButton.svg'></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
        Wisea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-group class="body__container">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle style="font-size: 12px;">
            <ion-item-group class="history__desc" style="display: flex; justify-content: space-between; align-items: center;">
              {{ (detail | async)?.tanggal.toMillis() | date:'EEEE, MM-dd-yyyy h:mm a' }}
              <ion-chip color="success">
                <ion-label>{{ (detail | async)?.status }}</ion-label>
              </ion-chip>
            </ion-item-group>
          </ion-card-subtitle>
          <ion-card-title style="color: var(--ion-color-primary); font-size: 18px;"><strong>Tiket: {{ (detail | async)?.tiket }}</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div id="mid">
            <div class="info">
              <p style="font-size: 12px;">
                <strong>Email   : </strong>{{ (detail | async)?.email }}<br>
                <strong>Phone   : </strong>0{{ (detail | async)?.tlp }}<br>
              </p>
            </div>
          </div>
          <br>
          <div>
            <div>
              <table>
                <tr style="background: #EEE; color: var(--ion-color-primary); font-size: 14px;">
                  <td><strong>Item</strong></td>
                  <td></td>
                  <td></td>
                  <td><strong>Qty</strong></td>
                  <td></td>
                  <td><strong>Sub Total</strong></td>
                </tr>
  
                <tr>
                  <td><p>{{ (detail | async)?.tiket }}</p></td>
                  <td></td>
                  <td></td>
                  <td><p>{{ (detail | async)?.jumlah }}</p></td>
                  <td></td>
                  <td><p>{{ (detail | async)?.total | currency:'IDR':'symbol-narrow':'3.0'}}</p></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="color: var(--ion-color-primary); font-size: 14px;"><strong>Total</strong></td>
                  <td></td>
                  <td>{{ (detail | async)?.total | currency:'IDR':'symbol-narrow':'3.0'}}</td>
                </tr>
              </table>
              <br>
              <p style="text-align: center;"><strong>Thank you for your purchase!</strong><br>Happy #ngeBolang !</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-item-group>
</ion-content>
