<ion-content [fullscreen]="true" color="background">
  <ion-item-group id="container">
    <ion-img src='assets/login/register.svg' class="planeImg"></ion-img>
    <ion-title color="primary">
      <strong>Cie..</strong>
      <p><strong>Buat akun</strong></p>
    </ion-title>
    <form [formGroup]="credentialForm">
      <mat-label>Nama Lengkap</mat-label>
      <mat-form-field appearance="standard">
        <input matInput formControlName="name">
        <mat-error *ngIf="(credentialForm.get('name').dirty || credentialForm.get('name').touched) && credentialForm.get('name').errors">
          <span *ngIf="credentialForm.get('name').errors.required">Full name is required</span>
        </mat-error>
      </mat-form-field>

      <mat-label>Username</mat-label>
      <mat-form-field appearance="standard">
        <input matInput formControlName="username">
        <mat-error *ngIf="(credentialForm.get('username').dirty || credentialForm.get('username').touched) && credentialForm.get('username').errors">
          <span *ngIf="credentialForm.get('username').errors.required">Username is required</span>
        </mat-error>
      </mat-form-field>

      <mat-label>Email</mat-label>
      <mat-form-field appearance="standard">
        <input matInput formControlName="email">
        <mat-error *ngIf="(credentialForm.get('email').dirty || credentialForm.get('email').touched) && credentialForm.get('email').errors">
          <span *ngIf="credentialForm.get('email').errors.required">Email is required</span>
          <span *ngIf="credentialForm.get('email').errors.email">Email is invalid</span>
        </mat-error>
      </mat-form-field>

      <mat-label>Password</mat-label>
      <mat-form-field appearance="standard">
        <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
          {{passwordHide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="(credentialForm.get('password').dirty || credentialForm.get('password').touched) && credentialForm.get('password').errors">
          <span *ngIf="credentialForm.get('password').errors.required">Password is required</span>
          <span *ngIf="credentialForm.get('password').errors.minlength">Password needs to be 6 characters</span>
        </mat-error>
      </mat-form-field>

      <mat-label>Konfirmasi Password</mat-label>
      <mat-form-field appearance="standard">
        <input matInput [type]="confirmHide ? 'password' : 'text'" formControlName="confirm">
        <mat-icon matSuffix (click)="confirmHide = !confirmHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmHide">
          {{confirmHide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="(credentialForm.get('confirm').dirty || credentialForm.get('confirm').touched) && credentialForm.get('confirm').errors">
          <span *ngIf="credentialForm.get('confirm').errors.required">Confirm Password is required</span>
          <span *ngIf="credentialForm.get('confirm').errors.mustMatch">Password and Confirm Password didn't match</span>
        </mat-error>
      </mat-form-field>

      <mat-label>Nomor Telepon</mat-label>
      <mat-form-field appearance="standard">
        <input matInput formControlName="phone">
        <mat-error *ngIf="(credentialForm.get('phone').dirty || credentialForm.get('phone').touched) && credentialForm.get('phone').errors">
          <span *ngIf="credentialForm.get('phone').errors.required">Phone number is required</span>
          <span *ngIf="credentialForm.get('phone').errors.minlength || credentialForm.get('phone').errors.maxlength">Phone needs to be between 10 - 12 characters</span>
        </mat-error>
      </mat-form-field>
    </form>
    <ion-button (click)="register()" expand="full" color="primary" shape="round" [disabled]="!credentialForm.valid">Daftar</ion-button>
    <p style="text-align: center">
      Sudah memiliki akun? Login
      <span routerLink="/login" class="login">disini</span>
    </p>
  </ion-item-group>
</ion-content>
