#container {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 10%;
  //transform: translateY(-50%);
  color: var(--ion-color-secondary-contrast);

  ion-title {
    padding: 130px 0px 50px 0px;
  }

  strong {
    font-size: 36px;
    line-height: 28px;
    margin-top: 20px;
  }

  ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ion-button {
    margin-top: 10px;
    font-weight: 700;
  }
}

.planeImg {
  left: 165px;
  top: 0%;
  z-index: 1;
  float: right;
  width: 206px;
  height: 249px;
  position: absolute;
}

.reset-password {
  float: right;
  margin: 0px;
  padding: 0px;
}

.register {
  color: #946E41;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
}

mat-label {
  /*change color of label*/
  color: #946E41 !important;
  font-weight: 500;
}

.mat-icon {
  color: #946E41;
}

.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}

::ng-deep {
  .mat-form-field-underline {
    /*change color of underline*/
    background-color: #946E41 !important;
  }

  .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #946E41 !important;
  }

  .mat-form-field-wrapper{
    margin-bottom: 20px;
  }
}

.login {
  color: var(--ion-color-primary);
  font-weight: bold;
}
